# umbenennen in .env und im gitignore lassen und auf keinen fall commiten!
# Generate with: openssl rand -base64 48
JWT_SECRET_KEY=test

# das ist der connection string für die datenbank (mysql)
DB_CONNECTION_STRING=Server=localhost;Database=your_db;Uid=root;Pwd=your_password;

# hier die domain der live website eingeben (oder localhost)
CORS_ALLOWED_ORIGINS=localhost:5050